@media screen and (min-width: 900px) {
    body {
        max-width: 1100px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 48px auto 1fr 4fr 48px;
        padding: 1rem var(--gutter);
    }

    header span {
        font-size: 1.9rem;
    }

    header nav {
        display: block;
        grid-row: 1;
        grid-column: 4;
    }

    header ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    header button {
        grid-column: 5;
    }

    #hamburger {
        display: none;
    }

    h1 {
        font-size: 3.5rem;
    }

    .line {
        display: grid;
        grid-template-columns: 0.9fr 1fr 0.75fr 1.25fr;
        padding: 0.75rem;
    }

    .line p {
        padding: 0;
    }

    .tidbits {
        display: grid;
        grid-template-rows: auto 1fr 0.25fr auto 0.25fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .little-line {
        font-size: 1.25rem;
    }

    #weather {
        grid-row: 2;
        grid-column: 3;
    }

    #spotlight {
        grid-row: 4;
        grid-column: 1 / 4;
    }

    #company-area {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #membership-area.grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer {
        padding: 0.5rem var(--gutter);
        flex-direction: row;
        justify-content: space-between;
    }
}