:root {
    --primary-color: #ff8c00;
    --secondary-color: #0000cd;
    --light-text-color: #fff;
    --light-link-color: #e0ffff;
    --contrast-color: #ffd700;
    --light-section-color: #fffa9d;
    --dark-section-color: #8c0000;
    --dark-outline-color: #000;
    --gutter: 0.5rem;
}

body {
    font-family: "Gabriela", serif;
    background-color: #ffda73;
}

body.dark {
    background-color: #000070;
    color: var(--light-text-color);
}

button {
    font-family: "Cormorant", serif;
    font-weight: 700;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

.symbol-button {
    background: none;
    border: none;
}

.emphasize {
    font-weight: 700;
}

.underline {
    text-decoration: underline;
}

/*
#    # ######  ####  ####   ###### ######
#    # #      #    # #   #  #      #    #
###### ###### ###### #    # ###### ######
#    # #      #    # #   #  #      #   # 
#    # ###### #    # ####   ###### #    #
*/

header {
    display: grid;
    grid-template-columns: 48px auto 48px 48px;
    align-items: center;
    padding: 1rem var(--gutter);
    padding-bottom: 1.1rem;
    border: 3px solid var(--secondary-color);
    border-top: none;
    font-family: "Cormorant", serif;
    font-weight: 700;
    background-color: var(--light-section-color);
}

header.dark {
    border: 3px solid var(--contrast-color);
    border-top: none;
    background-color: var(--dark-section-color);
}

header span {
    padding-left: 8px;
    font-size: 1.5rem;
}

header.dark span {
    color: var(--light-text-color);
}

header nav {
    display: none;
    grid-row: 2;
    grid-column: 4;
}

header nav.show {
    display: block;
}

header ul {
    display: flex;
    flex-direction: column;
    align-items: end;
}

header a {
    display: inline-block;
    padding: 0.67rem 0;
    font-size: 1.7rem;
}

header a,
#theme-button,
#hamburger {
    color: var(--secondary-color);
}

header a:hover,
#theme-button:hover,
#hamburger:hover {
    color: var(--primary-color);
}

header.dark a,
#theme-button.dark,
header.dark #hamburger {
    color: var(--contrast-color);
}

header.dark a:hover,
#theme-button.dark:hover,
header.dark #hamburger:hover {
    color: var(--light-text-color);
}

.wayfinder {
    text-decoration: underline;
}

#theme-button {
    margin-bottom: 0.25rem;
    font-size: 2.5rem;
}

#theme-button::before {
    content: "⏾";
}

#theme-button.dark::before {
    content: "☀";
}

#hamburger {
    margin-bottom: 0.2rem;
    font-size: 2.25rem;
}

#hamburger:before {
    content: "\2630";
}

#hamburger.show {
    font-size: 3rem;
}

#hamburger.show:before {
    content: "X";
}

/*
#       #  ####  ##### ##    #
##     ## #    #   #   # #   #
# #   # # ######   #   #  #  #
#  # #  # #    #   #   #   # #
#   #   # #    # ##### #    ##
*/

h1 {
    padding: 1rem var(--gutter);
    font-size: 1.75rem;
    font-weight: 400;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.control-section {
    text-align: center;
}

main button {
    margin: 1rem 1rem;
    padding: 0.5rem 1.25rem;
    font-size: 1.75rem;
    border: 3px solid var(--secondary-color);
    border-radius: 16px;
    background-color: var(--light-section-color);
    color: var(--secondary-color);
}

main button:hover {
    background-color: var(--secondary-color);
    color: var(--contrast-color);
}

main.dark button {
    border: 3px solid var(--contrast-color);
    background-color: var(--dark-section-color);
    color: var(--contrast-color);
}

main.dark button:hover {
    border: 3px solid var(--light-text-color);
    background-color: var(--contrast-color);
    color: var(--secondary-color);
}

main a {
    color: var(--secondary-color);
}

main.dark a {
    color: var(--light-link-color);
}

main .stripe {
    background-color: var(--light-section-color);
}

main.dark .stripe {
    background-color: var(--dark-section-color);
}

main.dark .card {
    border: 2px solid var(--contrast-color);
    background-color: var(--dark-section-color);
}

.hero-area {
    position: relative;
    padding: 0 0.5rem;
}

.overlay {
    text-align: center;
    font-size: 1.3rem;
    background-color: rgb(255 250 157 / 0.64);
}

.overlay:hover {
    background-color: rgb(0 0 205 / 0.75);
    color: var(--contrast-color);
}

main.dark .overlay {
    background-color: rgb(0 0 205 / 0.7);
    color: var(--contrast-color);
}

main.dark .overlay:hover {
    background-color: rgb(255 215 0 / 0.7);
    color: var(--secondary-color);
}

.hero-area .overlay {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 8%;
    padding: 0.5rem 0;
}

.hero-image {
    width: 100%;
    height: auto;
    border: 4px solid var(--dark-outline-color);
    box-shadow: 0 0 16px var(--dark-outline-color);
}

main.dark .hero-image {
    border: 4px solid var(--light-text-color);
    box-shadow: 0 0 8px var(--light-text-color);
}

.description {
    padding: 1rem var(--gutter);
    font-size: 1.5rem;
}

.little-line {
    font-size: 1.1rem;
}

.line {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
}

.line p {
    padding: 0.5rem 0;
}

.card {
    margin: 1rem;
    padding: 1rem 0;
    text-align: center;
    border: 2px solid var(--secondary-color);
    background-color: var(--light-section-color);
    box-shadow: 0 0 8px var(--dark-outline-color);
}

.card img {
    margin-top: 1rem;
}

.card div {
    padding: 1rem 0.5rem;
    text-align: left;
}

.card p {
    padding: 0.25rem 0;
}

.tidbits {
    display: flex;
    flex-direction: column;
}

#membership-area {
    padding: 2rem 0;
    font-family: "Gabriela", serif;
    font-size: 1.2rem;
    font-weight: 500;
}

#membership-area.grid {
    display: flex;
    flex-direction: column;
}

#spotlight {
    border: 2px solid var(--secondary-color);
    box-shadow: 0 0 8px var(--dark-outline-color);
}

main.dark #spotlight {
    border: 2px solid var(--contrast-color);
}

#spotlight h2 {
    margin-top: 0.5rem;
    text-align: center;
}

/*
###### ########## ########## ##### ###### ######
#      #        # #        #   #   #      #    #
###### #        # #        #   #   ###### ######
#      #        # #        #   #   #      #   #
#      ########## ##########   #   ###### #    #
*/

footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem var(--gutter);
    border: 3px solid var(--secondary-color);
    border-bottom: none;
    background-color: var(--light-section-color);
}

footer.dark {
    border: 3px solid var(--contrast-color);
    border-bottom: none;
    background-color: var(--dark-section-color);
}

footer p {
    font-size: 1.1rem;
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

footer li {
    padding-left: 1rem;
}